*{
    font-family:"fonte_padrao";
}
a {
    text-decoration: none;
    color: black
}

ul {
    list-style: none;
    display: flex;
    gap: 50px;
    justify-content: space-around;
    font-size: 18px;
   
}
#div_banner{
    height: 400px;
} 
#img_banner{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
@font-face{
    font-family:"fonte_padrao" ;
    src: url("../fonts/Roboto-Regular.ttf");
}
#lista_menu li a:hover{
    color:rgb(239, 122, 5) ;
    font-weight: bold;
}
#titulo_lugares{
    text-align: center;
}
#div_lugares{
    display: flex;
     gap: 50px;
     flex-wrap: wrap;
     justify-content: center;
}
#section_lugares{
    margin-top: 70px;
}
#div_lugares img{
    transition: transform 0.3s ease;
    border-radius: 10px;
}
#div_lugares img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.cor-laranja{
    color: orangered;
}
.centralizar{
    text-align: center;
}
.justificar{
    text-align: justify;
}
.espacamento-section{
    margin-top: 10vh;
}
#container{
    width: 80vw;
    margin: 0 auto;
}
.lugar-detalhado{
   display: flex;  
   margin-top: 2vh;
   
}
.img-detalhado{
    width: 50%;
    max-height: 60vh;
   
    
}
.texto-detalhado{
    width: 50%;
}
 .justificar{ 
  text-align: justify;

 }

.img-detalhado img{
    width: 100%;
    height: 100%;
    object-fit: cover;  
   

}
 .texto-detalhado p{
    line-height: 1.8em;
}
.arredondar{
     border-radius: 20px;
     overflow: hidden;
}

.margem-esquerda{
    margin-left: 2vw;
}
.margem-direita{
    margin-right: 2vw;
}

.largura-caixa{
       display: flex;  
       text-align: center;  
       gap: 20px; 
       justify-content: center;
       
}
.caixa-texto{
    border-style: dotted;
    padding: 10px;
    border-color: orangered;
    border-radius: 10px;
    width: 20vw;
     
}

